body {
    margin: 0;
    text-align: center;
    background-color: #2C3E50; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ECF0F1;
}

h1 {
    font-size: 3rem;
    margin-top: 1rem;
}

h4 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 310px;
    margin: 20px auto;
    padding: 20px;
    background-color: #34495E;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn {
    height: 100px;
    font-size: 30px;
    background-color: #1ABC9C;
    color: #ECF0F1;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #16A085;
    transform: scale(1.05);
}

#rst-btn {
    height: 40px;
    font-size: 1rem;
    background-color: #E74C3C;
    color: white;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#rst-btn:hover {
    background-color: #C0392B;
    transform: scale(1.2);
}

#msg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: #ECF0F1;
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #27AE60;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    transition: transform 0.3s;
}

#msg.winner {
    background-color: #2980B9;
    transform: scale(1.1);
}

#msg.draw {
    background-color: #F39C12;
    transform: scale(1.1);
}

#turnMsg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: #ECF0F1;
}
